 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/Survey_Halfofwomenscientistsworldwidesexuallyharassed.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 835px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 307px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 33px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 37px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 783px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: -26px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 663px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 19px 50px 0;
}

.u-section-2 .u-list-1 {
  width: 539px;
  margin: 68px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 506px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-1 {
  width: 384px;
  min-height: 162px;
  height: auto;
  margin: -77px 32px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px -75px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-2 {
  width: 384px;
  min-height: 162px;
  background-size: auto;
  height: auto;
  margin: -77px 32px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px -75px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-3 {
  width: 384px;
  min-height: 162px;
  background-size: auto;
  height: auto;
  margin: -77px 32px 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0 30px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px -75px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 663px;
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 2.25rem;
  margin: 19px 68px 0 32px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  margin: 13px 68px 0 32px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 470px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 0;
    margin-left: 100px;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-right: 0;
    margin-left: 100px;
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-right: 0;
    margin-left: 100px;
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-1 {
    width: 544px;
    min-height: 135px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-2 {
    width: 544px;
    min-height: 135px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-group-3 {
    width: 544px;
    min-height: 135px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 435px;
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 435px;
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 435px;
    margin-left: 95px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 840px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 330px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 330px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    width: 330px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1506px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 610px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 416px;
  height: 487px;
  object-position: 98.87% 50%;
  --radius: 20px;
  margin: 0 auto 0 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 610px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  width: 506px;
  margin: 98px auto 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 60px;
  margin-bottom: 50px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 537px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 22px;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  margin: 113px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 537px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 498px;
  height: 467px;
  --radius: 20px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1583px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 503px;
  }

  .u-section-3 .u-image-1 {
    width: 405px;
    height: 474px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 503px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 443px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 443px;
  }

  .u-section-3 .u-image-2 {
    width: 405px;
    height: 380px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3145px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 771px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 679px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2503px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 509px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1789px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 375px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 320px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 300px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1110px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 537px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 467px;
  --radius: 20px;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 537px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 99px 0 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 56px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 537px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 132px -10px 0 auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 537px;
}

.u-section-4 .u-container-layout-4 {
  padding: 18px 30px;
}

.u-section-4 .u-image-2 {
  width: 480px;
  height: 480px;
  --radius: 20px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-4 .u-image-1 {
    height: 375px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 443px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 443px;
  }

  .u-section-4 .u-image-2 {
    width: 405px;
    height: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1530px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 679px;
  }

  .u-section-4 .u-image-1 {
    height: 604px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 679px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 679px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 476px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 2rem;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 509px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-4 .u-image-1 {
    height: 293px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 320px;
  }

  .u-section-4 .u-image-2 {
    width: 320px;
    height: 320px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 778px;
}

.u-section-5 .u-text-1 {
  width: 714px;
  margin: 106px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px auto 0;
}

.u-section-5 .u-list-1 {
  width: 714px;
  margin: 9px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 357px;
  grid-auto-columns: 100%;
  grid-gap: 30px;
}

.u-section-5 .u-container-layout-1 {
  padding: 8px 20px 8px 0;
}

.u-section-5 .u-group-1 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 4px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: -61px 19px 0 102px;
}

.u-section-5 .u-container-layout-3 {
  padding: 8px 20px 8px 0;
}

.u-section-5 .u-group-2 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 4px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: -61px 19px 0 102px;
}

.u-section-5 .u-container-layout-5 {
  padding: 8px 20px 8px 0;
}

.u-section-5 .u-group-3 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 4px auto 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  font-size: 1.5rem;
  margin: -61px 19px 0 102px;
}

.u-section-5 .u-text-9 {
  font-size: 1.5rem;
  margin: 46px auto 60px 77px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 114px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 114px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-left: 114px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 117px;
    font-size: 1.3333333333333333rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 117px;
    font-size: 1.3333333333333333rem;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
    margin-left: 117px;
    font-size: 1.3333333333333333rem;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1349px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 600;
  width: 701px;
  margin: 11px auto 0;
}

.u-section-6 .u-image-1 {
  width: 448px;
  height: 300px;
  --radius: 20px;
  margin: 42px auto 0 51px;
}

.u-section-6 .u-image-2 {
  width: 458px;
  height: 300px;
  --radius: 20px;
  margin: -300px 63px 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 19px 84px 0 619px;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: -30px 641px 0 62px;
}

.u-section-6 .u-image-3 {
  width: 437px;
  height: 315px;
  --radius: 20px;
  margin: 34px auto 0 62px;
}

.u-section-6 .u-image-4 {
  width: 458px;
  height: 315px;
  --radius: 20px;
  margin: -315px 63px 0 auto;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 69px 641px 0 62px;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: -38px 84px 0 619px;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 125px 241px 60px 198px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 503px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 503px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 503px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 503px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 141px;
    margin-left: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-3 {
    margin-left: 283px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 283px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 283px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 283px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 19px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.3333333333333333rem;
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.3333333333333333rem;
    margin-left: 103px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.3333333333333333rem;
    margin-right: 103px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.3333333333333333rem;
    margin-right: 103px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.3333333333333333rem;
    margin-bottom: 60px;
    margin-left: 103px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.3333333333333333rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 228px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 223px;
    margin-top: -228px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 245px;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    width: 340px;
    height: 234px;
    margin-top: -245px;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 812px;
}

.u-section-7 .u-text-1 {
  width: 894px;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px 138px 0;
}

.u-section-7 .u-accordion-1 {
  width: 894px;
  margin: 30px auto 60px;
}

.u-section-7 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-7 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 154px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-7 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 154px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-7 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 154px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-7 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-7 .u-accordion-pane-4 {
  min-height: 154px;
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-bottom: 0;
  padding: 25px 30px;
}

.u-section-7 .u-icon-5 {
  height: 17px;
  width: 17px;
  color: rgb(128, 128, 128);
}

.u-section-7 .u-accordion-pane-5 {
  min-height: 154px;
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-7 .u-text-7 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-7 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-7 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-7 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-7 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-7 .u-accordion-pane-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-accordion-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-accordion-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 2075px;
}

.u-section-8 .u-text-1 {
  margin: 81px 132px 0 113px;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  width: 709px;
  margin: 19px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin: 127px 0 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 611px;
  grid-auto-columns: 100%;
  grid-gap: 62px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-8 .u-image-1 {
  width: 419px;
  left: 0;
  right: auto;
  top: 0;
}

.u-section-8 .u-group-1 {
  width: 643px;
  min-height: 308px;
  height: auto;
  margin: 0 0 0 467px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-8 .u-text-3 {
  margin: 82px 0 0 30px;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0 30px;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-8 .u-image-2 {
  width: 419px;
  left: 0;
  right: auto;
  top: 0;
}

.u-section-8 .u-group-2 {
  width: 643px;
  min-height: 308px;
  height: auto;
  margin: 0 0 0 467px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-8 .u-text-5 {
  margin: 82px 0 0 30px;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0 30px;
}

.u-section-8 .u-list-2 {
  grid-template-rows: repeat(2, auto);
  margin-top: 50px;
  margin-bottom: 60px;
  margin-right: 40px;
}

.u-section-8 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 611px;
  grid-auto-columns: 100%;
  grid-gap: 62px;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-5 {
  padding: 0 30px 0 0;
}

.u-section-8 .u-image-3 {
  width: 419px;
  left: 0;
  right: auto;
  top: 0;
}

.u-section-8 .u-group-3 {
  width: 643px;
  min-height: 308px;
  height: auto;
  margin: 0 0 0 467px;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-8 .u-text-7 {
  margin: 82px 0 0 30px;
}

.u-section-8 .u-text-8 {
  margin: 20px 0 0 30px;
}

.u-section-8 .u-list-item-4 {
  background-image: none;
}

.u-section-8 .u-container-layout-7 {
  padding: 0 30px 0 0;
}

.u-section-8 .u-image-4 {
  width: 419px;
  left: 0;
  right: auto;
  top: 0;
}

.u-section-8 .u-group-4 {
  width: 643px;
  min-height: 308px;
  height: auto;
  margin: 0 0 0 467px;
}

.u-section-8 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-8 .u-text-9 {
  margin: 82px 0 0 30px;
}

.u-section-8 .u-text-10 {
  margin: 20px 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: 894px;
    margin-right: 32px;
    margin-left: 13px;
    height: 73px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -1px;
  }

  .u-section-8 .u-list-1 {
    margin-top: -412px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-list-item-1 {
    width: 73px;
    height: 73px;
  }

  .u-section-8 .u-group-1 {
    margin-left: 267px;
    height: auto;
  }

  .u-section-8 .u-group-2 {
    margin-left: 267px;
    height: auto;
  }

  .u-section-8 .u-list-2 {
    margin-bottom: -199px;
    margin-right: initial;
  }

  .u-section-8 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-group-3 {
    margin-left: 267px;
    height: auto;
  }

  .u-section-8 .u-group-4 {
    margin-left: 267px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-list-1 {
    margin-top: -926px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    width: auto;
  }

  .u-section-8 .u-group-1 {
    margin-left: 47px;
  }

  .u-section-8 .u-image-2 {
    width: auto;
  }

  .u-section-8 .u-group-2 {
    margin-left: 47px;
  }

  .u-section-8 .u-list-2 {
    margin-bottom: -713px;
    margin-right: initial;
  }

  .u-section-8 .u-image-3 {
    width: auto;
  }

  .u-section-8 .u-group-3 {
    margin-left: 47px;
  }

  .u-section-8 .u-image-4 {
    width: auto;
  }

  .u-section-8 .u-group-4 {
    margin-left: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
    margin-top: 26px;
  }

  .u-section-8 .u-list-1 {
    margin-top: -619px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-8 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-list-2 {
    margin-bottom: -423px;
    margin-right: initial;
  }

  .u-section-8 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-8 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-7 {
    margin-left: 0;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-7 {
    padding-right: 10px;
  }

  .u-section-8 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
    margin-top: 6px;
  }

  .u-section-8 .u-list-1 {
    margin-top: -266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-list-2 {
    margin-bottom: -17px;
    margin-right: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 940px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 805px;
}

.u-section-9 .u-container-layout-1 {
  padding: 12px 0 0;
}

.u-section-9 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 17px 30px 0;
}

.u-section-9 .u-text-2 {
  margin: 32px 43px 0 60px;
}

.u-section-9 .u-image-1 {
  height: 370px;
  object-position: 50% 2.9%;
  width: 565px;
  margin: 32px 5px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 805px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-list-1 {
  width: 540px;
  margin: 50px 0 0 auto;
}

.u-section-9 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 586px;
  grid-gap: 10px;
}

.u-section-9 .u-container-layout-3 {
  padding: 1px 10px 10px;
}

.u-section-9 .u-text-3 {
  font-size: 3.75rem;
  margin: 16px auto 0 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -48px auto 0 91px;
}

.u-section-9 .u-text-5 {
  margin: 24px 0 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 1px 10px 10px;
}

.u-section-9 .u-text-6 {
  font-size: 3.75rem;
  margin: 16px auto 0 0;
}

.u-section-9 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -48px auto 0 91px;
}

.u-section-9 .u-text-8 {
  margin: 24px 0 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 1px 10px 10px;
}

.u-section-9 .u-text-9 {
  font-size: 3.75rem;
  margin: 16px auto 0 0;
}

.u-section-9 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -48px auto 0 91px;
}

.u-section-9 .u-text-11 {
  margin: 24px 0 0;
}

.u-section-9 .u-text-12 {
  margin: 30px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-9 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 5px;
    margin-left: 3px;
  }

  .u-section-9 .u-image-1 {
    height: 307px;
    width: 470px;
    margin-top: 163px;
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 664px;
  }

  .u-section-9 .u-list-1 {
    width: 470px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 0;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    height: 386px;
    width: 304px;
    margin-top: 197px;
    margin-right: 2px;
    margin-left: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-list-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-9 .u-image-1 {
    height: 437px;
    margin-top: 91px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-3 {
    font-size: 3rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: -41px;
    margin-left: 94px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 17px;
  }

  .u-section-9 .u-text-6 {
    font-size: 3rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-top: -41px;
    margin-left: 94px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 17px;
  }

  .u-section-9 .u-text-9 {
    font-size: 3rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-9 .u-text-10 {
    width: auto;
    margin-top: -41px;
    margin-left: 94px;
  }

  .u-section-9 .u-text-11 {
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    height: 269px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-list-1 {
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 580px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 16px;
    margin-left: 1px;
  }

  .u-section-9 .u-text-4 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 14px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 16px;
    margin-left: 1px;
  }

  .u-section-9 .u-text-7 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 14px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-9 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 16px;
    margin-left: 1px;
  }

  .u-section-9 .u-text-10 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-9 .u-text-11 {
    margin-top: 14px;
    margin-left: 1px;
    margin-right: 1px;
  }
} .u-section-10 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/harassed.jpeg');
  background-size: cover, cover;
}

.u-section-10 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-10 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: 0px 0px 15px rgba(0,0,0,1);
  margin: 60px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 0 626px 0 30px;
}

.u-section-10 .u-list-1 {
  width: 665px;
  margin: 4px 475px 0 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 583px;
  grid-auto-columns: calc(50% - 10px);
  grid-gap: 20px;
}

.u-section-10 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 30px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-4 {
  margin: 30px auto 0 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 30px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-6 {
  margin: 30px auto 0 0;
}

.u-section-10 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 30px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-8 {
  margin: 30px auto 0 0;
}

.u-section-10 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 30px;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-10 {
  margin: 30px auto 0 0;
}

.u-section-10 .u-text-11 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

.u-section-10 .u-text-12 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 456px;
    margin-left: 0;
  }

  .u-section-10 .u-list-1 {
    margin-right: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 236px;
  }

  .u-section-10 .u-list-1 {
    width: 404px;
    margin-right: 55px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 922px;
    grid-auto-columns: calc(100% + 0px);
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 56px;
  }

  .u-section-10 .u-list-1 {
    margin-right: 0;
  }

  .u-section-10 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding: 25px;
  }

  .u-section-10 .u-container-layout-2 {
    padding: 25px;
  }

  .u-section-10 .u-container-layout-3 {
    padding: 25px;
  }

  .u-section-10 .u-container-layout-4 {
    padding: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-list-1 {
    width: 340px;
  }

  .u-section-10 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-10 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-10 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-10 .u-container-layout-4 {
    padding: 20px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 747px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-11 .u-image-1 {
  min-height: 274px;
  background-image: url("images/photo-1617175379644-ba4238718eca.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px;
}

.u-section-11 .u-image-2 {
  min-height: 274px;
  background-image: url("images/photo-1683187481079-fadf0e704ba1.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px;
}

.u-section-11 .u-layout-cell-3 {
  min-height: 547px;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-11 .u-image-3 {
  min-height: 274px;
  background-image: url("images/photo-1539540310553-23e37d2b537a.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-4 {
  padding: 20px;
}

.u-section-11 .u-image-4 {
  min-height: 274px;
  background-image: url("images/photo-1539713831342-0bd972c0ef61.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-5 {
  padding: 20px;
}

.u-section-11 .u-text-3 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-11 .u-image-1 {
    min-height: 226px;
  }

  .u-section-11 .u-image-2 {
    min-height: 226px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 451px;
  }

  .u-section-11 .u-image-3 {
    min-height: 226px;
  }

  .u-section-11 .u-image-4 {
    min-height: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1479px;
  }

  .u-section-11 .u-image-1 {
    min-height: 260px;
  }

  .u-section-11 .u-image-2 {
    min-height: 260px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-11 .u-image-3 {
    min-height: 519px;
  }

  .u-section-11 .u-image-4 {
    min-height: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-image-1 {
    min-height: 390px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-2 {
    min-height: 390px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-3 {
    min-height: 389px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-4 {
    min-height: 389px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-11 .u-image-1 {
    min-height: 246px;
  }

  .u-section-11 .u-image-2 {
    min-height: 246px;
  }

  .u-section-11 .u-image-3 {
    min-height: 245px;
  }

  .u-section-11 .u-image-4 {
    min-height: 245px;
  }
} .u-section-12 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/photo-1683187136506-4bf4f0d0b02f.jpeg');
  background-position: 50% 50%;
}

.u-section-12 .u-sheet-1 {
  min-height: 767px;
}

.u-section-12 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 37px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 610px;
}

.u-section-12 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-12 .u-list-1 {
  grid-auto-rows: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 520px;
  grid-auto-columns: 100%;
  grid-gap: 20px;
}

.u-section-12 .u-container-layout-2 {
  padding: 0 30px 20px 0;
}

.u-section-12 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-12 .u-icon-1 {
  margin-right: 5px;
}

.u-section-12 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-12 .u-container-layout-3 {
  padding: 0 30px 20px 0;
}

.u-section-12 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-12 .u-icon-2 {
  font-size: 0.95em;
  margin-right: 5px;
}

.u-section-12 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-12 .u-container-layout-4 {
  padding: 0 30px 20px 0;
}

.u-section-12 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-12 .u-icon-3 {
  margin-right: 5px;
}

.u-section-12 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-12 .u-btn-1 {
  padding: 0;
}

.u-section-12 .u-container-layout-5 {
  padding: 0 30px 20px 0;
}

.u-section-12 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-12 .u-icon-4 {
  margin-right: 5px;
}

.u-section-12 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 610px;
  background-image: none;
}

.u-section-12 .u-container-layout-6 {
  padding: 50px 30px 30px;
}

.u-section-12 .u-text-10 {
  margin: 0 auto;
}

.u-section-12 .u-form-1 {
  height: 376px;
  width: 425px;
  margin: 30px auto 0;
}

.u-section-12 .u-label-1 {
  font-weight: 700;
}

.u-section-12 .u-label-2 {
  font-weight: 700;
}

.u-section-12 .u-label-3 {
  font-weight: 700;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-12 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 503px;
  }

  .u-section-12 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 566px;
  }

  .u-section-12 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-12 .u-form-1 {
    width: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-layout-cell-2 {
    min-height: 654px;
  }

  .u-section-12 .u-container-layout-6 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-12 .u-text-10 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-12 .u-form-1 {
    height: 482px;
    width: 301px;
  }
}